<nav>
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'About', about_path %></li>
    <li><%= link_to 'Books', books_path %></li>
    <li><%= link_to 'Authors', authors_path %></li>
    <li><%= link_to 'Genres', genres_path %></li>
  </ul>
</nav>
<h1><%= @author.author_name %></h1>
<p>Birthdate: <%= @author.author_birthdate %></p>

<h2>Books by <%= @author.author_name %>:</h2>
<ul>
  <% @author.books.each do |book| %>
    <li><%= link_to book.book_name, book_path(book) %></li>
  <% end %>
</ul>
