<nav>
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'About', about_path %></li>
    <li><%= link_to 'Books', books_path %></li>
    <li><%= link_to 'Authors', authors_path %></li>
  </ul>
</nav>
<h1>All Books</h1>

<%= form_with(url: books_path, method: "get") do |form| %>
  <%= form.collection_select :author_id, Author.all, :id, :author_name, { include_blank: "Select an author" } %>
  <%= form.text_field :search, placeholder: "Search for a book by title" %>
  <%= form.submit "Search" %>
<% end %>


<table>
  <thead>
    <tr>
      <th>Book Name</th>
      <th>Author</th>
      <th>Publisher</th>
      <th>Genre</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= link_to book.book_name, book_path(book) %></td>
        <td><%= link_to book.author.author_name, author_path(book.author) %></td>
        <td>
          <% book.publishers.each do |publisher| %>
            <%= publisher.publisher_name %><br>
          <% end %>
        </td>
        <td><%= book.genre.genre_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @books %>
