<nav>
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'About', about_path %></li>
    <li><%= link_to 'Books', books_path %></li>
    <li><%= link_to 'Authors', authors_path %></li>
  </ul>
</nav>
<h1><%= @book.book_name %></h1>

<p>Book Name: <%= @book.book_name %> </p>
<p>Author: <%= link_to @book.author.author_name, author_path(@book.author) %></p>
<p>Genre: <%= @book.genre.genre_name %></p>

<% if @book.publishers.present? %>
  <p>Publishers Names:</p>
  <ul>
    <% @book.publishers.each do |publisher| %>
      <li><%= publisher.publisher_name %></li>
    <% end %>
  </ul>
<% end %>
